body { 
	font-family: monospace;
}
footer {
	width: 100%;
	text-align:center;
}
.contentbox {
	color: #444;
	background-color:#fafafa;
	margin: auto;
	width: 70%;
}

@media screen and (max-width: 1000px) {
	.contentbox { width: 100%; }
}

#hd {
	border-bottom: 1px solid #ccc;
	text-align:center;
}

.item-photo     { grid-area: photo; align-self: center;}
.item-nameD     { grid-area: nameD; }
.item-nameC     { grid-area: nameC; }
.item-birthD    { grid-area: birthD; }
.item-birthC    { grid-area: birthC; }
.item-gitD      { grid-area: gitD; }
.item-gitC      { grid-area: gitC; }
.item-phoneD    { grid-area: phoneD; }
.item-phoneC    { grid-area: phoneC; }
.item-emailD    { grid-area: emailD; }
.item-emailC    { grid-area: emailC; }
.item-telegramD { grid-area: telegramD; }
.item-telegramC { grid-area: telegramC; }

.top-container {
	display: grid;
	gap: 10px 20px;
	justify-content: center;
	align-content: space-around;
	padding:10px;
	grid-template: 
		[row1-start] 'photo nameD nameC' 25px[row1-end] 
		'photo birthD birthC'
		'photo gitD gitC'
		'photo phoneD phoneC'
		'photo emailD emailC'
		'photo telegramD telegramC'
		/ min-content min-content auto
		;
	border-bottom: 1px solid #ccc;
}
@media screen and (max-width: 600px) {
	.top-container {
	grid-template: 
		'photo photo'
		'nameD nameC' 25px 
		'birthD birthC'
		'gitD gitC'
		'phoneD phoneC'
		'emailD emailC'
		'telegramD telegramC'
		/ min-content auto
		;
	}
}

.top-container > div{
	font-weight: bold;
}

.skill-container {
	display: flex;
	flex-wrap: wrap;
    width: 98.5%;
	padding:5px 5px;
}
.skill-container div {
	-moz-border-radius: 15px;
	border-radius: 15px;
	border:solid 1px black;
	padding:5px 5px;
	background-color: #ffffdf;
    text-align: center;
	font-size:23px;
	margin: 3px 0;
}

.item-wexpD         { 
	grid-area: wexpD;
	font-size: 200%;
	font-style: italic;
	align-self: center;
	margin: 3px 30px;
    text-align: center;
	border-bottom: 1px solid #ccc;
}
.item-wexp1posD      { grid-area: wexp1posD; }
.item-wexp1posC      { grid-area: wexp1posC; }
.item-wexp1compC     { grid-area: wexp1compC; }
.item-wexp1compD     { grid-area: wexp1compD; }
.item-wexp1dateC     { grid-area: wexp1dateC; }
.item-wexp1dateD     { grid-area: wexp1dateD; }

.item-uexpD         { 
	grid-area: uexpD;
	font-size: 200%;
	font-style: italic;
	align-self: center;
	margin: 3px 30px;
    text-align: center;
	border-bottom: 1px solid #ccc;
}
.item-uexp1posD      { grid-area: uexp1posD;  align-self: center;}
.item-uexp1posC      { grid-area: uexp1posC;  align-self: center;}
.item-uexp1dirD      { grid-area: uexp1dirD;  align-self: center;}
.item-uexp1dirC      { grid-area: uexp1dirC;  align-self: center;}
.item-uexp1uniD      { grid-area: uexp1uniD;  align-self: center;}
.item-uexp1uniC      { grid-area: uexp1uniC;  align-self: center;}
.item-uexp1dateD     { grid-area: uexp1dateD; align-self: end; }
.item-uexp1dateC     { grid-area: uexp1dateC; align-self: end; }

.item-techD         { 
	grid-area: techD;
	font-size: 200%;
	font-style: italic;
	align-self: center;
	margin: 3px 30px;
    text-align: center;
	border-bottom: 1px solid #ccc;
}

.item-techC      { grid-area: techC; align-self: center; }

.item-infoD         { 
	grid-area: infoD;
	font-size: 200%;
	font-style: italic;
	align-self: center;
	margin: 3px 30px;
    text-align: center;
	border-bottom: 1px solid #ccc;
}
.item-infoC      { grid-area: infoC; }

.item-line       { grid-area: line; border-bottom: 1px solid #ccc; }
.item-line1       { grid-area: line1; border-bottom: 1px solid #ccc; }
.item-line2       { grid-area: line2; border-bottom: 1px solid #ccc; }
.item-line3       { grid-area: line3; border-bottom: 1px solid #ccc; }

.info-container {
	display: grid;
	align-content: start;
	justify-content: center;
	grid-template: 
		             'wexpD wexp1posD  wexp1posC'            
		             'wexpD wexp1compD wexp1compC'           
		             'wexpD wexp1dateD wexp1dateC' 
					 'line line line'
		             'uexpD uexp1posD uexp1posC'            
		             'uexpD uexp1dirD uexp1dirC'            
		             'uexpD uexp1uniD uexp1uniC'            
		             'uexpD uexp1dateD uexp1dateC'
					 'line1 line1 line1'
		             'techD techC techC' 
					 'line2 line2 line2'
					 'infoD infoC infoC' 
					 'line3 line3 line3'
		/ min-content auto auto
		;
	;
	text-align: left;
	font-size:  152%;
	gap: 10px 20px;
}

@media screen and (max-width: 600px) {
	.info-container {
	grid-template: 
					 'wexpD wexpD'
		             'wexp1posD  wexp1posC'            
		             'wexp1compD wexp1compC'           
		             'wexp1dateD wexp1dateC' 
					 'line line'
					 'uexpD uexpD'
		             'uexp1posD uexp1posC'            
		             'uexp1dirD uexp1dirC'            
		             'uexp1uniD uexp1uniC'            
		             'uexp1dateD uexp1dateC'
					 'line1 line1'
					 'techD techD'
		             'techC techC' 
					 'line2 line2'
					 'infoD infoD'
					 'infoC infoC' 
					 'line3 line3'
		/ auto auto
		;
	;
	}
}
